## Verification: 312v

**4** valid / 4 passages

## Coverage

To verify that coverage of DSE indexing is complete, use [this link](http://www.homermultitext.org/ict2?urn=urn:cite2:hmt:e3bifolio.v1:E3_312v_313r@0.1683,0.1842,0.2707,0.07361&urn=urn:cite2:hmt:e3bifolio.v1:E3_312v_313r@0.1592,0.2025,0.2801,0.07415&urn=urn:cite2:hmt:e3bifolio.v1:E3_312v_313r@0.1691,0.2313,0.2731,0.06419&urn=urn:cite2:hmt:e3bifolio.v1:E3_312v_313r@0.1658,0.2511,0.2785,0.06881)

## Accuracy of valid passages

[![Linked to zoomble image](http://www.homermultitext.org/iipsrv?IIIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_312v_313r.tif/pct:16.83,18.42,27.07,7.361/2000,/0/default.jpg)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_312v_313r@0.1683,0.1842,0.2707,0.07361)
στῆ δ' ὀρθὸσ καὶ μῦθον ἐν ἀργείοισιν ἔειπεν:

---

[![Linked to zoomble image](http://www.homermultitext.org/iipsrv?IIIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_312v_313r.tif/pct:15.92,20.25,28.01,7.41499/2000,/0/default.jpg)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_312v_313r@0.1592,0.2025,0.2801,0.07415)
ὄρνυσθ' οἲ καὶ τούτον ἄεθλον πειρήσεσθε:

---

[![Linked to zoomble image](http://www.homermultitext.org/iipsrv?IIIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_312v_313r.tif/pct:16.91,23.13,27.31,6.419/2000,/0/default.jpg)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_312v_313r@0.1691,0.2313,0.2731,0.06419)
εἴ οἱ καὶ μάλα πολλὸν ἀπόπροθι πίονεσ ἀγροὶ ,

---

[![Linked to zoomble image](http://www.homermultitext.org/iipsrv?IIIF=/project/homer/pyramidal/deepzoom/hmt/e3bifolio/v1/E3_312v_313r.tif/pct:16.58,25.11,27.85,6.88099/2000,/0/default.jpg)](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_312v_313r@0.1658,0.2511,0.2785,0.06881)
ἔξει μιν καὶ πέντε περιπλομένους ἐνιαυτοὺς