# Verification of `LiteraryGreekString` orthography

Surface: urn:cite2:hmt:e3.v1:312v

**urn:cts:greekLit:tlg0012.tlg001.e3:**

urn:cts:greekLit:tlg0012.tlg001.e3:23.830

στῆ δ' ὀρθὸς καὶ μῦθον ἐν ἀργείοισιν ἔειπεν:

stê d' orthos kai muthon en argeioisin eeipen:



---


urn:cts:greekLit:tlg0012.tlg001.e3:23.831

ὄρνυσθ' οἲ καὶ τούτον ἄεθλον πειρήσεσθε:

ornusth' oi kai touton aethlon peirêsesthe:



---


urn:cts:greekLit:tlg0012.tlg001.e3:23.832

εἴ οἱ καὶ μάλα πολλὸν ἀπόπροθι πίονες ἀγροὶ ,

ei oi kai mala pollon apoprothi piones agroi ,



---


urn:cts:greekLit:tlg0012.tlg001.e3:23.833

ἔξει μιν καὶ πέντε περιπλομένους ἐνιαυτοὺς

echei min kai pente periplomenous eniautous



---

